.banner {
  text-align: center;
  background-image: url("../assets/images/bg-curvy-mobile.svg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: contain;
  @include breakpoint(medium) {
    background-image: url("../assets/images/bg-curvy-desktop.svg");
  }
  &__text {
    font-size: 1rem;
    @include breakpoint(medium) {
      padding: 0 3em;
    }
  }
}
