/* menu */
.menu-toggle {
  cursor: pointer;
  font-size: 1.3rem;
  @include breakpoint(medium) {
    display: none;
  }
}
.nav {
  position: absolute;
  top: _size(header);
  width: 17rem;
  height: 100vh;
  background-color: _color(color-fg);
  color: _color(color-fg);
  right: -100vw;
  transition: right 0.3s;
  @include breakpoint(medium) {
    position: static;
    background-color: transparent;
    width: auto;
    height: auto;
  }
  &.show {
    right: 0;
  }
}
.menu {
  @include breakpoint(medium) {
    margin: 0;
    display: flex;
  }
  &__item {
    &:hover {
      background-color: _color(bg-intro);
      color: _color(color-fg);
    }
  }
  &__link {
    text-align: right;
    text-transform: uppercase;
    padding: 1em 2em 1em 1.5em;
    color: _color(bg-intro);
    &:hover {
      color: _color(color-fg);
    }
    @include breakpoint(medium) {
      color: _color(color-fg);
      text-transform: none;
      padding: 1rem 2rem 1rem 1rem;
    }
  }
}
