.social {
  display: flex;
  justify-content: center;
  font-size: 1.3em;
  @include breakpoint(medium) {
    justify-content: start;
  }
  @include breakpoint(large) {
    justify-content: center;
  }
  i {
    padding-right: 0.9em;
  }
}
