.subscription {
  justify-content: center;
  display: flex;
  &__content {
    background-color: _color(bg-intro);
    padding: 2rem 3rem;
    text-align: center;
    border-radius: 0.7em;
    position: relative;
    top: 7rem;
    margin: 0 _size(gutter);
  }
  &__title {
    margin-top: 0;
  }
  &__form {
    display: grid;
    grid-gap: 2rem;
    @include breakpoint(medium) {
      grid-template-columns: 2fr 1fr;
    }
    .email {
      border: none;
      border-radius: 5em;
      padding: 0.9em 0 0.9em 2em;
    }
  }
}
