.testimonial-card {
  background-color: _color(bg-intro);
  padding: 2rem 1.5rem 1.5rem 1.5rem;
  border-radius: 0.3em;
  &__text {
    margin-top: 0;
  }
  &__perfil {
    display: flex;
    align-items: center;
  }
  &__img {
    border-radius: 50%;
    width: 2.5rem;
  }
  &__box {
    margin-left: 1rem;
  }
  &__title {
    margin: 0 0 0.2em 0;
  }
  &__position {
    font-size: 0.7rem;
  }
}
