// funcion para los colores
@function _color($key) {
  @if map-has-key($color, $key) {
    @return map-get($color, $key);
  }
  @return null;
}

// funciones para  las fuentes
@function _font($key) {
  @if map-has-key($font, $key) {
    @return map-get($font, $key);
  }
  @return null;
}
// funciones para los tamaños
@function _size($key) {
  @if map-has-key($size, $key) {
    @return map-get($size, $key);
  }
}
// funciones para los z-index
@function _z-index($key) {
  @if map-has-key($z-index, $key) {
    @return map-get($z-index, $key);
  }
}
