//mixin para Responsive web Desing
@mixin breakpoint($keys) {
  @if map-has-key($breakpoints, $keys) {
    @media screen and (min-width: map-get($breakpoints,$keys)) {
      @content;
    }
  } @else {
    @media scren and (min-width: $keys) {
      @content;
    }
  }
}

// @mixin breakpoint($keys) {
//   @media screen and (min-width: map-get($breakpoints,$keys)) {
//     @content;
//   }
// }
