  // Breakpoints
  $breakpoints: (
    small:                0,      //Moviles
    medium:               640px,  //desde 640px para tablets
    large:                1024px, //desde 1024px para laptops
    xlarge:               1440px  //desde 1440 px para escritorio
  );
  
  // Fonts
  $font: (
    body:                  ('Open Sans', sans-serif),
    headings:              ('Raleway', sans-serif),
    weight-normal:         400,
    weight-bold:           700 ,
    line-height:           1.6
    );
  //font-size 
  :root{
    --font-size-body:.9rem ;
    --font-title:1.7rem;
    --font-subtitle:1.4rem;
    @include breakpoint (medium){
      --font-subtitle:1.5rem;
      --font-title:2rem;
    }
  }

  // Color palette
  $color: (
    bg-intro:             hsl(217, 28%, 15%),
    bg-main:              hsl(218, 28%, 13%),
    bg-footer:            hsl(216, 53%, 9%),
    bg-testimonials:      hsl(219, 30%, 18%),
    accent:               hsl(176, 68%, 64%),
    color-fg:             hsl(0, 0%, 100%)
  );


  // Z-index
  $z-index: (
    dropdown:             1000,
    sticky:               1020,
    fixed:                1030,
    modal-backdrop:       1040,
    modal:                1050,
    popover:              1060,
    tooltip:              1070
  );

  // size
  $size: (
    layout:               1200px,
    header:               4rem,
    gutter:               1rem,
    inner:                45rem
  );