/* 0 - fonts. */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
/* 1 - utils. */
:root {
  --font-size-body:.9rem ;
  --font-title:1.7rem;
  --font-subtitle:1.4rem;
}

@media screen and (min-width: 640px) {
  :root {
    --font-subtitle:1.5rem;
    --font-title:2rem;
  }
}

/* 2 - vendors */
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* 3 - base */
/* Base */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

/* Typography */
body {
  font-family: "Open Sans", sans-serif;
  font-size: var(--font-size-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

p {
  line-height: 1.6;
}

/* colors */
body {
  color: white;
}

header,
section.banner {
  background-color: #1c2431;
}

main {
  background-color: #181f2a;
}

footer {
  background-color: #0b1523;
}

a {
  color: white;
}

/* 4 - layout */
/* layout */
.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

@media screen and (min-width: 640px) {
  .wrapper {
    padding: 2rem 2rem;
  }
}

.inner {
  max-width: 30rem;
  margin: 0 auto;
  padding: 2rem 1rem;
}

@media screen and (min-width: 640px) {
  .inner {
    max-width: 45rem;
  }
}

.inner-contact {
  max-width: 40rem;
}

/* header */
.header {
  position: sticky;
  top: 0;
}

@media screen and (min-width: 640px) {
  .header {
    position: static;
  }
}

.header__navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.services__content {
  text-align: center;
}

@media screen and (min-width: 640px) {
  .services__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 2.5rem;
    grid-column-gap: 4rem;
  }
}

.services__img {
  height: 78px;
}

@media screen and (min-width: 640px) {
  .productive__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3rem;
  }
}

.productive__img {
  text-align: center;
}

.productive__text {
  text-align: left;
}

.productive__link {
  padding-bottom: 0.3em;
  color: #65e2d9;
  border-bottom: 1px solid #65e2d9;
  display: inline-flex;
}

.productive__link::after {
  content: url(../assets/images/icon-arrow.svg);
  margin-left: 0.2em;
}

.testimonials {
  display: grid;
  grid-gap: 2rem;
}

@media screen and (min-width: 640px) {
  .testimonials {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .testimonials {
    grid-template-columns: repeat(3, 1fr);
  }
}

.footer {
  padding-top: 8rem;
}

.footer__content {
  display: grid;
  grid-gap: 1em;
}

@media screen and (min-width: 640px) {
  .footer__content {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
  }
}

@media screen and (min-width: 1024px) {
  .footer__content {
    grid-template-columns: 2fr repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
  }
}

.footer__logo {
  grid-column: 1/-1;
}

.footer__flex {
  display: flex;
  align-items: center;
  padding-bottom: 0.7em;
}

.footer__flex i {
  padding-right: 1em;
}

.footer__flex p {
  margin: 0;
}

.footer__flex :first-child {
  align-self: start;
  padding-top: 0.2em;
}

.footer__nav {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 640px) {
  .footer__nav {
    flex-direction: row;
  }
}

@media screen and (min-width: 1024px) {
  .footer__nav {
    justify-content: space-around;
  }
}

@media screen and (min-width: 640px) {
  .footer__menu {
    margin: 0 2rem 0 0;
  }
}

.footer__menu li {
  margin-bottom: 0.6em;
}

/* 5 - components */
/* menu */
.menu-toggle {
  cursor: pointer;
  font-size: 1.3rem;
}

@media screen and (min-width: 640px) {
  .menu-toggle {
    display: none;
  }
}

.nav {
  position: absolute;
  top: 4rem;
  width: 17rem;
  height: 100vh;
  background-color: white;
  color: white;
  right: -100vw;
  transition: right 0.3s;
}

@media screen and (min-width: 640px) {
  .nav {
    position: static;
    background-color: transparent;
    width: auto;
    height: auto;
  }
}

.nav.show {
  right: 0;
}

@media screen and (min-width: 640px) {
  .menu {
    margin: 0;
    display: flex;
  }
}

.menu__item:hover {
  background-color: #1c2431;
  color: white;
}

.menu__link {
  text-align: right;
  text-transform: uppercase;
  padding: 1em 2em 1em 1.5em;
  color: #1c2431;
}

.menu__link:hover {
  color: white;
}

@media screen and (min-width: 640px) {
  .menu__link {
    color: white;
    text-transform: none;
    padding: 1rem 2rem 1rem 1rem;
  }
}

.banner {
  text-align: center;
  background-image: url("../assets/images/bg-curvy-mobile.svg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: contain;
}

@media screen and (min-width: 640px) {
  .banner {
    background-image: url("../assets/images/bg-curvy-desktop.svg");
  }
}

.banner__text {
  font-size: 1rem;
}

@media screen and (min-width: 640px) {
  .banner__text {
    padding: 0 3em;
  }
}

.logo {
  width: 6rem;
}

@media screen and (min-width: 640px) {
  .logo {
    width: 7rem;
  }
}

.button {
  border: none;
  background: #65e2d9;
  text-align: center;
  color: white;
  cursor: pointer;
  padding: 0.9em 4em;
  border-radius: 5em;
}

.title {
  font-size: var(--font-title);
}

.subtitle {
  font-size: var(--font-subtitle);
}

.testimonial-card {
  background-color: #1c2431;
  padding: 2rem 1.5rem 1.5rem 1.5rem;
  border-radius: 0.3em;
}

.testimonial-card__text {
  margin-top: 0;
}

.testimonial-card__perfil {
  display: flex;
  align-items: center;
}

.testimonial-card__img {
  border-radius: 50%;
  width: 2.5rem;
}

.testimonial-card__box {
  margin-left: 1rem;
}

.testimonial-card__title {
  margin: 0 0 0.2em 0;
}

.testimonial-card__position {
  font-size: 0.7rem;
}

.subscription {
  justify-content: center;
  display: flex;
}

.subscription__content {
  background-color: #1c2431;
  padding: 2rem 3rem;
  text-align: center;
  border-radius: 0.7em;
  position: relative;
  top: 7rem;
  margin: 0 1rem;
}

.subscription__title {
  margin-top: 0;
}

.subscription__form {
  display: grid;
  grid-gap: 2rem;
}

@media screen and (min-width: 640px) {
  .subscription__form {
    grid-template-columns: 2fr 1fr;
  }
}

.subscription__form .email {
  border: none;
  border-radius: 5em;
  padding: 0.9em 0 0.9em 2em;
}

.social {
  display: flex;
  justify-content: center;
  font-size: 1.3em;
}

@media screen and (min-width: 640px) {
  .social {
    justify-content: start;
  }
}

@media screen and (min-width: 1024px) {
  .social {
    justify-content: center;
  }
}

.social i {
  padding-right: 0.9em;
}

/* 6 - pages */
/* 7 - themes */
