/* colors */
body {
  color: _color(color-fg);
}
header,
section.banner {
  background-color: _color(bg-intro);
}
main {
  background-color: _color(bg-main);
}
footer {
  background-color: _color(bg-footer);
}
a {
  color: _color(color-fg);
}
