.footer {
  padding-top: 8rem;
  &__content {
    display: grid;
    grid-gap: 1em;
    @include breakpoint(medium) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, auto);
    }
    @include breakpoint(large) {
      grid-template-columns: 2fr repeat(3, 1fr);
      grid-template-rows: repeat(2, auto);
    }
  }
  &__logo {
    grid-column: 1/-1;
  }
  &__flex {
    display: flex;
    align-items: center;
    padding-bottom: 0.7em;
    i {
      padding-right: 1em;
    }
    p {
      margin: 0;
    }
    :first-child {
      align-self: start;
      padding-top: 0.2em;
    }
  }
  &__nav {
    display: flex;
    flex-direction: column;
    @include breakpoint(medium) {
      flex-direction: row;
    }
    @include breakpoint(large) {
      justify-content: space-around;
    }
  }
  &__menu {
    @include breakpoint(medium) {
      margin: 0 2rem 0 0;
    }
    li {
      margin-bottom: 0.6em;
    }
  }
}
