/* header */
.header {
  position: sticky;
  top: 0;
  @include breakpoint(medium) {
    position: static;
  }
  &__navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
