.productive {
  &__content {
    @include breakpoint(medium) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 3rem;
    }
  }
  &__img {
    text-align: center;
  }
  &__text {
    text-align: left;
  }
  &__link {
    padding-bottom: 0.3em;
    color: _color(accent);
    border-bottom: 1px solid _color(accent);
    display: inline-flex;
    &::after {
      content: url(../assets/images/icon-arrow.svg);
      margin-left: 0.2em;
    }
  }
}
