.services {
  &__content {
    text-align: center;
    @include breakpoint(medium) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-row-gap: 2.5rem;
      grid-column-gap: 4rem;
    }
  }
  &__img {
    height: 78px;
  }
}
