.testimonials {
  display: grid;
  grid-gap: 2rem;
  @include breakpoint(medium) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include breakpoint(large) {
    grid-template-columns: repeat(3, 1fr);
  }
}
