/* layout */
.wrapper {
  width: 100%;
  max-width: _size(layout);
  margin: 0 auto;
  padding: 2rem _size(gutter); //gutter es el paddign para el wrapper
  @include breakpoint(medium) {
    padding: 2rem _size(gutter) + 1;
  }
}
.inner {
  max-width: 30rem; //haceer un cal
  margin: 0 auto;
  padding: 2rem _size(gutter);
  @include breakpoint(medium) {
    max-width: _size(inner);
  }
}
.inner-contact {
  max-width: 40rem;
  // margin: 0 auto;
}
